*.log
*.orig
.DS_Store
.build
.configcache
.idea
.npm
.nvm
.nyc_output
.rebooted
.settings
.vscode
bower_modules
cdbs
cdn/
config/
config/production.json
coverage
coverage-vitest
dist/
ext
flow-typed
log
logs
node_modules
package-lock.json
protected
server.crt
server.csr
server.key
server.key.org
slipper-cache.json
temp
test/functional/datadriven/report
tmp
tools/tmp